<h1>Listing videos</h1>
<h1>Listing videos</h1>
 <%= link_to 'New video', new_video_path %>
<table>
  <tr>
    <th>Title:</th>
    <th>Owner:</th>
    <th colspan="3"></th>
  </tr>
 
  <% @videos.each do |video| %>
    <tr>
      <td><%= video.title %></td>
      <td><%= video.owner %></td>
      <td><%= video.youkuid %></td>
      <td><%= link_to 'Show', video_path(video) %></td>
        <td><%= link_to 'Destroy', video_path(video),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>