
<html>
  <body>
    <p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>
     <p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>
    <p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>
    <p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @video.owner %>
</p>
    <div id="youkuplayer" style="width:480px;height:400px"></div>
    <script type="text/javascript" src="http://player.youku.com/jsapi">

player = new YKU.Player('youkuplayer',{

styleid: '0',

client_id: '24002f2d0b37924f',

vid: '83330248'

});

</script>
  </body>

</html> 